node_modules/
test-data/
build/
dist/
.parcel-cache/
coverage/
.DS_Store

# test keys and extra precautions
beekeeper-keys/
*.log
*token*
*Token*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
