$text-color: rgba(0, 0, 0, 0.87);

html {
  height: 100%;
}

body,
body > #app {
  height: 100%;
}


body {
  background-color: #fff !important;
}

#app {
  display: flex;
  box-sizing: border-box;
}

a {
  color: #0080c7;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a.nav-link {
  color: #000;
  opacity: 0.7;
}

a.nav-link:hover {
  text-decoration: none;
  opacity: 1.0;
}



/**
 * tables
 */

table.key-value-table {
  tr td:first-child {
    font-weight: bold;
    padding-right: 15px;
  }
}

table.striped {
  & tr:nth-child(odd) {
    background: #fafafa;
  }
}

/**
 *  helpers
 */
.success { color: #3ac37e }
.warning { color: hsl(41, 83%, 35%); }
.failed { color: hsl(0, 83%, 35%); }
.inactive { color: #888; }
.muted { color: #888; }

.no-margin { margin: 0; }
.no-padding { padding: 0; }
.text-color { color: $text-color; }
.list-none { list-style-type: none; }
.hover:hover { opacity: .7; }

// layout
.flex { display: flex; }
.flex.column { flex-direction: column; }
.flex.row { flex-direction: row; }

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }


/**
 * global util classes
 */

.code, pre.code {
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 1px 2px;
  color: #c52700;
}

pre.code {
  padding: 10px;
  color: #222;
}


