$text-color: rgba(0, 0, 0, 0.87);
$severe-color: hsl(0, 83%, 35%);

html {
  height: 100%;
}

body,
body > #app {
  height: 100%;
}


body {
  background-color: #fff;
  // set line-height and font-size for mui v5.0 update
  line-height: 1.43;
  font-size: 0.875rem
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

#app {
  display: flex;
  box-sizing: border-box;
}

a {
  color: #0080c7;
  text-decoration: none;
  cursor: pointer;
}

a:hover { text-decoration: underline; }
a.no-style { color: inherit; }
a.no-style:hover { text-decoration: none; }



/**
 * tables
 */

table.key-value {
  tr td:first-child {
    font-weight: bold;
    padding-right: 15px;
  }
}

table.hor-key-value {
  border-collapse: collapse;

  th {
    font-weight: bold;
    padding-right: 15px;
    text-align: left;
  }

  th, td {
    border: 1px solid #e0e0e0;
    padding: .3em;
  }

  tr.cat-header th {
    border: none;
  }

  tr.cat-header th[colspan] {
    text-align: center;
    background: #f2f2f2;
    font-size: .9em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}


table.simple {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table.simple th,
table.simple td {
  position: relative;
}

table.simple th {
  vertical-align: bottom;
  padding: .1em .5em;
}

table.simple:not(.dense) td:not(.icon) {
  padding: .5em;
}
table.simple tr:not(:first-child) {
  border-top: 1px solid #dee2e6;
}
table.simple thead tr {
  border-bottom: 1px solid #dee2e6;
}


table.simple.table-hover tr:not(.no-hover):not(.selected):hover {
  background: #f5f5f5;
}

table.simple.table-hover thead *:hover {
  background: none;
}

table.simple tr.selected:hover,
table.simple tr.selected,
table.simple tr.selected a {
  /* todo(nc): add selected styles */
}

table.dense th,
table.dense td {
  font-size: .85em;
  padding: 0.3rem;
}

table.bordered {
  border: 1px solid #ccc;
}

table.striped tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,.03);
}



/**
 *  helpers
 */
.warning { color: hsl(41, 83%, 35%); }
.failed, .fatal, .severe { color: $severe-color; }
.inactive { color: #888; }
.queued, .removed, .suspended, .submitted, .created { color: #666; }
.running, .in-progress { color: #de9300; }
.completed, .success { color: #3ac37e; }
.failed, .danger { color: #b90501; }

.muted { color: #888; }


button.delete, button.cancel,
button.delete:hover, button.cancel:hover {
  color: $severe-color;
  border-color: $severe-color;
}

.no-margin { margin: 0; }
.no-padding { padding: 0; }
.text-color { color: $text-color; }
.list-none { list-style-type: none; }
.hover:hover { opacity: .7; }

.gap { gap: 1rem; }
.form-gap { gap: .6rem; }

// layout
.flex { display: flex; }
.flex.column { flex-direction: column; }
.flex.row { flex-direction: row; }

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

.self-auto { align-self: auto; }
.self-start {align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-stretch { align-self: stretch; }

.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.w-full	{ width: 100%; }
.w-screen	{ width: 100vw; }
.w-min { width: min-content; }
.w-max { width: max-content; }

.text-xs { font-size: 0.75rem; line-height: 1rem; }
.text-sm { font-size: 0.875rem; line-height: 1.25rem; }
.text-sm { font-size: 0.875rem; line-height: 1.25rem; }
.text-lg { font-size: 1.125rem; line-height: 1.75rem; }
.text-xl { font-size: 1.25rem; line-height: 1.75rem; }

.flex-grow-0 { flex-grow: 0; }
.flex-grow { flex-grow: 1; }

// text
.text-left { text-align: left; }
.text-center {text-align: center; }
.text-right	{ text-align: right; }
.text-justify	{ text-align: justify; }

.text-xs { font-size: 0.75rem; line-height: 1rem; }
.text-sm { font-size: 0.875rem; line-height: 1.25rem; }
.text-sm { font-size: 0.875rem; line-height: 1.25rem; }
.text-lg { font-size: 1.125rem; line-height: 1.75rem; }
.text-xl { font-size: 1.25rem; line-height: 1.75rem; }

.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-shrink: 0; }
.nowrap { white-space: nowrap; }


.font-normal {font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }

.clearfix {
  content: "";
  clear: both;
  display: table;
}

/**
 * global util classes
 */

pre {
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #bbb;
  color: #222;
  padding: 10px;
}

.mono-term, p > code {
  padding: 0px 2px;
  color: #c52700;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #bbb;
}


[target=_blank] .external-link {
  visibility: hidden;
  font-size: 1rem;
  position: absolute;
}

[target=_blank]:hover .external-link {
  visibility: visible;
  color: #666;
  margin-left: 5px;
}



