$text-color: rgba(0, 0, 0, 0.87);

html {
  height: 100%;
}

body,
body > #app {
  height: 100%;
}


body {
  background-color: #fff !important;
}

#app {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}

a {
  color: #0080c7;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

table.key-value-table {
  tr td:first-child {
    font-weight: bold;
    padding-right: 15px;
  }
}


/**
 *  helpers
 */
.success { color: #3ac37e }
.warning { color: hsl(41, 83%, 35%); }
.failed { color: hsl(0, 83%, 35%); }
.inactive { color: #888; }
.muted { color: #888; }


.no-margin { margin: 0; }
.no-padding { padding: 0; }
.text-color { color: $text-color; }
.list-none { list-style-type: none; }

.flex { display: flex; }
.flex.column { flex-direction: column; }
.flex.row { flex-direction: row; }

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }


