

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.success { color: hsl(150, 87%, 26%); }
.warning { color: hsl(41, 83%, 35%); }
.failed { color: hsl(0, 83%, 35%); }
.inactive { color: hsl(0, 0%, 15%); }