
body {
  color: rgba(0, 0, 0, 0.87);
  font-size: initial !important;
  font-weight: initial !important;
  line-height: initial !important;
  letter-spacing: initial !important;
  background-color: #fff !important;
}

.success { color: #3ac37e }
.warning { color: hsl(41, 83%, 35%); }
.failed { color: hsl(0, 83%, 35%); }
.inactive { color: #888; }
